@import "../../../assets/scss/mixins";
@import "../../../assets/scss/veriabel";

.root {
  border-radius: 8px;
  height: 48px;

  &:disabled,
  &[disabled="disabled"] {
    pointer-events: none;
    background-color: rgba(151, 151, 151, 0.4) !important;
    border-color: rgba(151, 151, 151, 0.4) !important;
    color: $DARK;
  }
}
