@import '../../assets/scss/mixins';
@import '../../assets/scss/veriabel';

.root {

}

.action {
  width: 200px;
}

.controls {
  display: flex;
  justify-content: center;
  max-width: 200px;
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 4px;
  background-color: $GREY;
  padding: 4px 6px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  & svg {
    width: 20px;
    max-height: 16px;
  }

  & svg path {
    fill: $DARK
  }
}